﻿@model System.Data.DataSet
@{
    ViewBag.Title = "Index";
}
<h2>Vendors Files Processing</h2>
<h5>Below is the list of files availables from vendors for dues processing </h5>
<hr />
@using (Html.BeginForm("Index", "Dues", FormMethod.Post))
{
<div class="row">
    <div class="col-sm-7">
        <a href="@Url.RouteUrl("home")" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
        <a href="@Url.RouteUrl("dues")" class="btn btn-primary">
            Refresh
            <i class="glyphicon glyphicon-repeat"></i>
        </a>
    </div>
    <div class="col-sm-5">
        <a href="#" class="btn btn-danger" id="btnUncheckAll">
            Uncheck All
            <i class="glyphicon glyphicon-thumbs-down"></i>
        </a>
        <button type="button" class="btn btn-success" id="btnCheckAll">
            Check All
            <i class="glyphicon glyphicon-thumbs-up"></i>
        </button>
        <button type="submit" class="btn btn-primary" id="btnProcess">
            Process
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h5>There is <strong>@ViewBag.UploadsAvailable.Count</strong> files available to process dues reports from vendors</h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed">
            <thead>
                <tr style="background-color:#428bca; color:white;">
                    <!--<th>Full Path</th>-->
                    <th>File Name</th>
                    <th>Creation Date</th>
                    <th>Size</th>
                    <th>Columns</th>
                    <th>Lines</th>
                    <th>Process</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var uploads in ViewBag.UploadsAvailable)
                {
                    <tr>
                        <td>@uploads.file_name</td>
                        <td>@uploads.file_date</td>
                        <td>@uploads.file_size</td>
                        <td>@uploads.file_column</td>
                        <td>@uploads.file_rows</td>
                        <td><input name="@uploads.id" type="checkbox" class="chkProcess" checked="@uploads.file_process" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCheckAll").click(function () {
                $(".chkProcess").prop('checked', $(this).prop("checked", true));
            });
            $("#btnUncheckAll").click(function () {
                $(".chkProcess").prop('checked',false);
            });
        });
    </script>

    <style type="text/css">
    </style>
}