﻿@model MOHomeCareApp.Areas.Admin.ViewModels.UsersEdit

<h2>Edit User Account</h2>
<h5><strong>Interface to edit user accounts</strong></h5>

<hr />

@using (@Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(f => f.Username)
            @Html.TextBoxFor(f => f.Username, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.Email)
            @Html.TextBoxFor(f => f.Email, new { @class = "form-control", type = "email", autocomplete = "off" })
        </div>
        @Html.Partial("_RoleEditor", Model.Roles)
        <input type="submit" value="Update User" class="btn btn-primary" />
        <a href="@Url.Action("index")" class="btn btn-default">Cancel</a>
    </div>
</div>
}
