﻿@model MOHomeCareApp.Areas.Admin.ViewModels.UsersResetPassword

<h2>Reset Password</h2>
<h5>Reset password for account <strong>@Model.Username</strong></h5>

<hr />

@using (@Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(f => f.Password)
        @Html.TextBoxFor(f => f.Password, new { @class = "form-control", autocomplete = "off", type = "password" })
    </div>
    <input type="submit" value="Reset Password" class="btn btn-primary"/>
    <a href="@Url.Action("index")" class="btn btn-default">Cancel</a>
}
