﻿@model MOHomeCareApp.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h5><strong>Please use your user credentials to login to this application.</strong> </h5>
<hr />
@Model.message
@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.username)
                @Html.TextBoxFor(m => m.username, new { @class = "form-control", autocomplete = "off" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary"/>
                <!--<input type="submit" value="Reset" class="btn btn-default" />-->
            </div>
        </div>
    </div>
}

