﻿@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Welcome Back, " + @User.Identity.Name + "!", "", "") </li>
        
        @if (User.IsInRole("Admin"))
        {
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Settings<b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="@Url.Action("index", "users", new {area="admin"})">Users</a></li>
            </ul>
        </li>
        }
        
        <li><a href="@Url.RouteUrl("Logout")">Logout</a></li>
    </ul>
}
@*else
    {
    <li><a href="@Url.RouteUrl("Login")">Login</a></li>
    }
*@