﻿@model MOHomeCareApp.ViewModels.WorkerDataEntry
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<br />
<a href="@Url.RouteUrl("home")" class="btn btn-success">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Back
</a>-->
<h2>Data Entry</h2>
<h5>Use form below to enter workers to your database</h5>
<hr />
@using (Html.BeginForm("Index", "Workers", FormMethod.Post, new { @id="myform"}))
{
    @Html.ValidationSummary()

    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                @Html.LabelFor(m => m.vmDataSourceId)
                @Html.DropDownListFor(m => m.vmDataSourceId, new SelectList(Model.vmDataSource, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                @Html.LabelFor(m => m.vmLastName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.vmLastName, new { @class = "form-control", autocomplete = "off", type = "text" })
            </div>
            <div class="col-xs-3">
                @Html.LabelFor(m => m.vmFirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.vmFirstName, new { @class = "form-control", autocomplete = "off", type = "text" })
            </div>
            <div class="col-xs-3">
                @Html.LabelFor(m => m.vmMiddleName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.vmMiddleName, new { @class = "form-control", autocomplete = "off", type = "text" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                <label>Date of Birth</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.vmDOBMonth, new { @class = "form-control", autocomplete = "off", placeholder = DateTime.Now.Month })
                    <span class="input-group-btn" style="width:0px;"></span>
                    @Html.TextBoxFor(m => m.vmDOBDay, new { @class = "form-control", autocomplete = "off", placeholder = DateTime.Now.Day })
                    <span class="input-group-btn" style="width:0px;"></span>
                    @Html.TextBoxFor(m => m.vmDOBYear, new { @class = "form-control", autocomplete = "off", placeholder = DateTime.Now.Year })
                </div>
            </div>
            <div class="col-xs-1">
                @Html.LabelFor(m => m.vmSSN, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.vmSSN, new { @class = "form-control", autocomplete = "off", type = "text", placeholder = "0000" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmVanId)
                    @Html.TextBoxFor(m => m.vmVanId, new { @class = "form-control", autocomplete = "Off", type = "Text", placeholder = "000000000" })
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-6">
                    @Html.LabelFor(m => m.vmHomeAddress)
                    @Html.TextBoxFor(m => m.vmHomeAddress, new { @class = "form-control", autocomplete = "Off", type = "Text", placeholder = "i.e. 1390 Santa Alicia AVE APT 319" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmHomeCity)
                    @Html.TextBoxFor(m => m.vmHomeCity, new { @class = "form-control", data_url = Url.Action("GetListOfCities","Workers") })
                    @Html.HiddenFor(m => m.vmHomeCityId)
                </div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmHomeStateId)
                    @Html.DropDownListFor(m => m.vmHomeStateId, new SelectList(Model.vmHomeState, "Value", "Text"), new { @class = "form-control"})
                </div>
                <div class="col-xs-1">
                    @Html.LabelFor(m => m.vmHomeZip)
                    @Html.TextBoxFor(m => m.vmHomeZip, new { @class = "form-control", data_url = Url.Action("GetListOfZips", "Workers") })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmHomePhone)
                    @Html.TextBoxFor(m => m.vmHomePhone, new { @class = "form-control", autocomplete = "Off", type = "Text", maxlenght = 10,
                                                               placeholder = "1234567890"
               })
                </div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmHomeMobile)
                    @Html.TextBoxFor(m => m.vmHomeMobile, new { @class = "form-control", autocomplete = "Off", type = "Text",
                                                                placeholder = "1234567890"})
                </div>
                <div class="col-xs-1">
                    @Html.LabelFor(m => m.vmHomeMobileSms)
                    @Html.CheckBoxFor(m => m.vmHomeMobileSms, new { @class = "form-control", type = "checkbox" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmHomeEmail)
                    @Html.TextBoxFor(m => m.vmHomeEmail, new { @class = "form-control", autocomplete = "Off", type = "Text",
                                                               placeholder = "user@domain.type"
               })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmHomeLanguageId)
                    @Html.DropDownListFor(m => m.vmHomeLanguageId, new SelectList(Model.vmHomeLanguage, "Text", "Value"), "", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.CheckBoxFor(m => m.vmHomeRegVote, new { @class = "radio-inline" })
            @Html.LabelFor(m => m.vmHomeRegVote, new { @class = "radio-inline" })
        </div>
    </div>
    <!--<hr />
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-6">
                    @Html.LabelFor(m => m.vmMailAddress)
                    @Html.TextBoxFor(m => m.vmMailAddress, new { @class = "form-control", autocomplete = "Off", type = "Text", placeholder = "i.e. 1390 Santa Alicia AVE APT 319" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmMailCity)
                    @Html.TextBoxFor(m => m.vmMailCity, new { @class = "form-control", autocomplete = "Off", type = "Text", data_url = Url.Action("GetListOfCities", "Workers") })
                </div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmMailStateId)
                    @Html.DropDownListFor(m => m.vmMailStateId, new SelectList(Model.vmMailState, "Value", "Text"), new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                    @Html.LabelFor(m => m.vmMailZip)
                    @Html.TextBoxFor(m => m.vmMailZip, new { @class = "form-control", autocomplete = "Off", type = "Text", data_url = Url.Action("GetListOfZips", "Workers") })
                </div>
            </div>
        </div>
    </div>-->
    <hr />
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmUnionSignedId)
                    @Html.DropDownListFor(m => m.vmUnionSignedId, new SelectList(Model.vmUnionSigned, "Value", "Text"), "", new { @class = "form-control" })
                </div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmUnionReceived)
                    @Html.TextBoxFor(m => m.vmUnionReceived, new { @class = "form-control", autocomplete = "Off", type = "Text", placeholder = "Click to Pick a Date" })
                </div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmUnionSignedDate)
                    @Html.TextBoxFor(m => m.vmUnionSignedDate, new { @class = "form-control", autocomplete = "Off", type = "Text", placeholder = "Click to Pick a Date" })
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-3">
                   @Html.LabelFor(m => m.vmCareSignedId)
                    @Html.DropDownListFor(m => m.vmCareSignedId, new SelectList(Model.vmCareSigned, "Value", "Text"), "", new { @class = "form-control" })
                </div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmCareReceived)
                    @Html.TextBoxFor(m => m.vmCareReceived, new { @class = "form-control", autocomplete = "Off", type = "Text", placeholder = "Click to Pick a Date" })
                </div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmCareSignedDate)
                    @Html.TextBoxFor(m => m.vmCareSignedDate, new { @class = "form-control", autocomplete = "Off", type = "Text", placeholder = "Click to Pick a Date" })
                </div>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.vmCareAmount)
                    @Html.TextBoxFor(m => m.vmCareAmount, new { @class = "form-control", autocomplete = "Off", type = "Text", placeholder = "0.00" })
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-2">
                    <input type="submit" class="btn btn-primary" value="Submit" id="btnSubmit"/>
                    <input type="submit" class="btn btn-default" value="Reset" />
                </div>
            </div>
        </div>
    </div>

}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#vmUnionReceived, #vmUnionSignedDate, #vmCareReceived, #vmCareSignedDate").datepicker({
                changeMonth: true,
                changeYear: true,
                showWeek: true,
                firstDay: 1
            });
            
            $("#vmUnionReceived, #vmUnionSignedDate, #vmCareReceived, #vmCareSignedDate").datepicker("option", "showAnim", "slide");

            $("#vmHomeCity, #vmMailCity").autocomplete({
                minLenght: 0,
                source: function (request, response) {
                    var url = $(this.element).data('url');
                    $.getJSON(url, { term: request.term }, function (data) {
                        response(data);
                    })
                },
                select: function (event, ui) {
                    $(event.target).next('input[type=hidden]').val(ui.item.id);
                },
                change: function (event, ui) {
                    if (!ui.item) {
                        $(event.target).val('').next('input[type=hidden]').val('');
                    }
                }
            });

            $("#vmHomeZip, #vmMailZip").autocomplete({
                minLenght: 0,
                source: function (request, response) {
                    var url = $(this.element).data('url');
                    $.getJSON(url, { term: request.term }, function (data) {
                        response(data);
                    })
                },
                select: function (event, ui) {
                    $(event.target).next('input[type=hidden]').val(ui.item.id);
                },
                change: function (event, ui) {
                    if (!ui.item) {
                        $(event.target).val('').next('input[type=hidden]').val('');
                    }
                }
            });

        });
    </script>

    <style type="text/css">
        #vmHomeMobileSms {
            margin-left:-20px;
        }
    </style>
}


