﻿@model MOHomeCareApp.ViewModels.WorkerSearch
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<br />
<a href="@Url.RouteUrl("home")" class="btn btn-success">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Back
</a>-->

<h2>Search Worker</h2>
<h5>Use the following fields to search for a worker. The search engine can use a sub string.</h5>
<hr />
@using (Html.BeginForm("Search", "Workers", FormMethod.Post, new { @id="formSearch"}))
{
    @Html.ValidationSummary()

    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                @Html.LabelFor(m => m.vmLastName)
                @Html.TextBoxFor(m => m.vmLastName, new { @class = "form-control", autocomplete = "off", type = "text", placeholder = "Smith"})
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                @Html.LabelFor(m => m.vmFirstName)
                @Html.TextBoxFor(m => m.vmFirstName, new { @class = "form-control", autocomplete = "off", type = "text", placeholder = "Allen" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                @Html.LabelFor(m => m.vmHomePhone)
                @Html.TextBoxFor(m => m.vmHomePhone, new { @class = "form-control", autocomplete = "off", type = "text", placeholder = "0123456789"})
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                @Html.LabelFor(m => m.vmHomeAddress)
                @Html.TextBoxFor(m => m.vmHomeAddress, new { @class = "form-control", autocomplete = "off", type = "text", placeholder = "1625 L ST NW" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-1">
                @Html.LabelFor(m => m.vmSSN)
                @Html.TextBoxFor(m => m.vmSSN, new { @class = "form-control", autocomplete = "off", type = "text", placeholder = "1234" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <div class="col-xs-2">
                    <input type="submit" class="btn btn-primary" value="Search" id="btnSubmit" />
                </div>
            </div>
        </div>
    </div>

}

