﻿@model MOHomeCareApp.ViewModels.WorkerSearchResult

@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<br />
<a href="@Url.RouteUrl("home")" class="btn btn-success">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Back
</a>-->

<h2>Search Results</h2>
<h5>Your search return <strong>@Model.searchResults.Count()</strong> records</h5>
<hr />
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>WorkerId</th>
            <th>SSN4</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Street</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in @Model.searchResults)
        {
            <tr>
                <td>@Html.ActionLink(data.id.ToString(),"WorkerSummary", new {id = data.id, window = "_global"}, null)</td>
                <td>@data.ssn</td>
                <td>@data.lastname</td>
                <td>@data.firstname</td>
                <td>@data.street</td>
                <td>@data.number_id</td>
            </tr>
        }
    </tbody>

</table>





