﻿@model MOHomeCareApp.ViewModels.WorkerSummaryReport
@{
    ViewBag.Title = "WorkerSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Worker Profile</h2>
<h5>Interface to add, edit and delete workers information, please use the buttons to access to the different sections.</h5>
<hr />
<div class="form-group">
    <div class="row">
        <div class="col-xs-7">
            <div class="btn-group" role="group" aria-label="...">
                <a href="@Url.RouteUrl("WorkerSummary", new { id=@Model.WorkerId, window="_global"})" class="btn btn-primary btn-group-sm">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <br />Global <br /> Information
                </a>
                <a href="@Url.RouteUrl("WorkerSummary", new { id=@Model.WorkerId, window="_address"})" class="btn btn-primary btn-group-sm">
                    <i class="glyphicon glyphicon-home"></i>
                    <br />Address<br />Information
                </a>
                <a href="@Url.RouteUrl("WorkerSummary", new { id = @Model.WorkerId, window = "_phone" })" class="btn btn-primary btn-group-sm">
                    <i class="glyphicon glyphicon-phone-alt"></i>
                    <br />Phone<br />Information
                </a>
                <a href="@Url.RouteUrl("WorkerSummary", new { id = @Model.WorkerId, window = "_email" })" class="btn btn-primary btn-group-sm">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <br />Email<br />Information
                </a>
                <a href="@Url.RouteUrl("WorkerSummary", new { id = @Model.WorkerId, window = "_language" })" class="btn btn-primary btn-group-sm">
                    <i class="glyphicon glyphicon-user"></i>
                    <br />Language<br />Information
                </a>
                <a href="@Url.RouteUrl("WorkerSummary", new { id = @Model.WorkerId, window = "_union" })" class="btn btn-primary btn-group-sm">
                    <i class="glyphicon glyphicon-check"></i>
                    <br />Union<br />Information
                </a>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-3">
            <div class="btn-group" role="group" aria-label="...">
                <a href="#" class="btn btn-success btn-group-sm">
                    <i class="glyphicon glyphicon-plus"></i>
                    <br />@Model.windowsOption<br />Information
                </a>
                <a href="#" class="btn btn-default btn-group-sm">
                    <i class="glyphicon glyphicon-wrench"></i>
                    <br />@Model.windowsOption<br />Information
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<div id="tabsGlobal">
    <ul>
        <li><a href="#tabs-1">Worker Information</a></li>
    </ul>
    <div id="tabs-1">
        <br />
        <div class="form-group SummaryReport">
            <div class="row">
                <div class="col-xs-2">
                    <label class="label label-primary">WorkerId</label>
                    <input style="text-align:center" class="form-control" value="@Model.WorkerId" disabled="disabled" />
                </div>
                <div class="col-xs-2">
                    <label class="label label-primary">SSN</label>
                    <input style="text-align:center" class="form-control" value="@Model.SSN" disabled="disabled" />
                </div>
                <div class="col-xs-2">
                    <label class="label label-primary">VAN Id</label>
                    <input style="text-align:center" class="form-control" value="@Model.VanId" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="form-group SummaryReport">
            <div class="row">
                <div class="col-xs-3">
                    <label class="label label-primary">Lastname</label>
                    <input style="text-align:center" class="form-control" disabled="disabled" value="@Model.LastName" />
                </div>
                <div class="col-xs-3">
                    <label class="label label-primary">Firstname</label>
                    <input style="text-align:center" class="form-control " value="@Model.FirstName" disabled="disabled" />
                </div>
                <div class="col-xs-2">
                    <label class="label label-primary">Middlename</label>
                    <input style="text-align:center" class="form-control" value="@Model.MiddleName" disabled="disabled" />
                </div>
                <div class="col-xs-3">
                    <label class="label label-primary">Last Update</label>
                    <input style="text-align:center" class="form-control " value="@Model.LastUpdate" disabled="disabled" />
                </div>
            </div>
        </div>
        </div>
</div>
<br />
<div id="MyMenuDiv">
    <div id="tmpMenu" class="ui-widget-content ui-corner-all">
        @Html.Partial(Model.windowView, Model)
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            $("#tabs, #tabsGlobal").tabs();
        });
    </script>

    <style type="text/css">
        .AddressTab1 input {
            /*font-weight: bold;*/
        }

        .SummaryReport input {
            /*font-weight: bold;*/
        }

        .sumPhoneTable {
            font-size: small;
        }

        .sumAddrTable {
            font-size: small;
        }

        .sumGlobalTable {
            font-size: small;
        }

        .sumEmailTable {
            font-size: small;
        }

        .sumLanguageTable {
            font-size: small;
        }
    </style>
}
