﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dues Processing And Membership<br /> MO HomeCare</h1>
    @if (Request.IsAuthenticated)
    {
        <p class="lead">Welcome to MO HomeCare Web Application, <strong>Your Are Now Logged In.</strong></p>
        <p>

            @Html.ActionLink("Search", "search", "Membership", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </p>
    }
    else
    {
        <p class="lead">Welcome to MO HomeCare Web Application, <strong>Please Login To Access.</strong></p>
        <p>

            @Html.ActionLink("Login", "Login", "Auth", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </p>
    }

</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    -->